<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PM2.5 DATA</title>
    <style>

html, body, #map {
  width: 100%;
  height:  90%;
  margin: 0;
  padding: 0;
}




.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}
</style>
</head>
<body>
<div id="map"></div>
<div>

</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>
// Create the Google Map…
var map;
var marker;
function initMap(){
map = new google.maps.Map(d3.select("#map").node(), {
  zoom: 8,
  center: new google.maps.LatLng(23.725822, 120.772193),
  mapTypeId: google.maps.MapTypeId.TERRAIN
});

//getjson
getjson();

// click!


     };
function getjson(){
    d3.json("{% url "locationApi" %}", function( error,data) {
        var jsonData = JSON.parse(data);
        console.log(jsonData)
        for (i=0; i<Object.keys(jsonData).length; i++){
            var content = jsonData[i]["SiteName"];
            //console.log(jsonData[i]["SiteName"])
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(jsonData[i]["TWD97Lat"],jsonData[i]["TWD97Lon"]),
                title:jsonData[i]["SiteName"],
            });

            google.maps.event.addListener(marker,"click",(function(marker,i){
                return function(){
                 console.log(jsonData[i]["SiteName"])
                }
            })(marker,i));
            marker.setMap(map);

        };

    });
};



</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiL1ij0sg-YB_C4mQvYWK8ze7MGgtEhbo&callback=initMap"   type="text/javascript"></script>

</html>